{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form action="/update/{{ entry.id }}" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="bahnhof" placeholder="Name des Bahnhofs" value="{{ entry.bahnhof }}" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="beschreibung" cols="100"
                                      placeholder="Beschreibung hinzufügen" required> {{ entry.beschreibung }} </textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Update
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}





